*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




body{
    background-color: black;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a{
    color: white;
    font: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



.nav.flex{
    padding: 20px 0;
    display: flex;
    width: 100%;
    
    
}
.nav-flex ul {
   display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
    gap: 40px;               
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    margin: 2%;
    
}

.nav-flex a{
    color: white;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 500;
    transition: 0.3s;
    
}

.nav-flex a:hover{
    color: yellow;
    transition: 03.s ease;
}

.inicio{
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 40px;
    min-height: 80vh; /* Ocupa casi toda la pantalla inicial */
    padding-top: 100px
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    max-width: 1100px;
    margin: 0 auto;
    padding: 80px 20px;
    width: 90;
}
.foto img{
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #ccc;
    object-position: center 20%;
    display: block;
    box-shadow: 0 0 30px rgba(255, 255, 0, 0.1);
    
}

.contenido-texto h1{
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.contenido-texto span{
    color: yellow;
    flex-direction: column;
    font-weight: bold;
}

.container-description{
    border: 2px solid white;
    padding: 15px 25px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    display: inline-block;
    margin-top: 15px;
}

.container-description p{
    margin: 0;
    color: white;
    font-size: 1.1rem;
    line-height: 1.5;
}

.botones-contacto a {
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
    display: flex;
    align-items: center;
    gap: 8px;
}

.btn-email { background: yellow; color: black; }
.btn-linkedin { border: 1px solid yellow; color: yellow; }
.btn-cv { background: #222; color: white; border: 1px solid #444; }


.botones-contacto a:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(255, 255, 0, 0.2);
}

/*badge disponibilidad*/
.badge-disponible {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    background: rgba(0, 255, 136, 0.1); /* Verde muy sutil */
    color: #00ff88; /* Verde neón suave */
    padding: 6px 14px;
    border-radius: 50px;
    font-size: 0.85rem;
    font-weight: 600;
    border: 1px solid rgba(0, 255, 136, 0.3);
    margin-bottom: 15px;
    letter-spacing: 0.5px;
}

/* El punto que parpadea */
.punto-pulso {
    width: 10px;
    height: 10px;
    background-color: #00ff88;
    border-radius: 50%;
    position: relative;
}

/* Animación del pulso */
.punto-pulso::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #00ff88;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    animation: pulsar 2s infinite;
}

@keyframes pulsar {
    0% {
        transform: scale(1);
        opacity: 0.8;
    }
    100% {
        transform: scale(2.5);
        opacity: 0;
    }
}

.link-red{
    color: yellow;
    text-decoration: none;
    font-size: 0.88rem;
    font-weight: bold;
    transition: 0.3s;
    display: flex;
    align-items: center;
}

.link-red:hover{
    color: white;
    transform: translateY(-2px);
}

.link-red:not(:last-child)::after{
    content: "|";
    margin-left: 20px;
    color: white;
    opacity: 0.3;
}

.botones-contacto {
    display: flex;
    gap: 15px;
    margin-top: 25px;
    justify-content: center; /* O flex-start si prefieres a la izquierda */
}

.btn-principal, .btn-secundario, .btn-cv {
    padding: 12px 25px;
    border-radius: 8px;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s ease;
    font-size: 0.9rem;
}

.btn-principal {
    background: yellow;
    color: black;
}

.btn-secundario {
    background: transparent;
    color: yellow;
    border: 1px solid yellow;
}

.btn-cv {
    background: #222;
    color: white;
    border: 1px solid #444;
}

.btn-principal:hover, .btn-secundario:hover, .btn-cv:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(255, 255, 0, 0.2);
}

/*---------------sobre mi-------*/

.seccion-sobre-mi {
    padding: 100px 10%;
    background: #050505;
}

.contenedor-sobre-mi {
    max-width: 900px;
    margin: 0 auto;
    background: linear-gradient(145deg, #111, #080808);
    padding: 50px;
    border-radius: 20px;
    border: 1px solid #222;
    box-shadow: 0 20px 40px rgba(0,0,0,0.5);
}

.texto-historia p {
    color: #ccc;
    line-height: 1.8;
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.texto-historia strong {
    color: yellow;
    font-weight: 600;
}

.pilares-valor {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.pilar {
    flex: 1;
    min-width: 150px;
    text-align: center;
    padding: 20px;
    background: #1a1a1a;
    border-radius: 12px;
    border: 1px solid #333;
    transition: 0.3s;
}

.pilar i {
    display: block;
    font-size: 2rem;
    color: yellow;
    margin-bottom: 15px;
}

.pilar span {
    font-size: 0.9rem;
    font-weight: bold;
    color: white;
}

.pilar:hover {
    border-color: yellow;
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(255, 255, 0, 0.05);
}

/* ------sección de proyectos -------------*/

section {
    padding: 120px 10%; /* Más espacio entre secciones */
    max-width: 1400px;
    margin: 0 auto;
}

.seccion-proyectos{
    padding: 80px 10%;
    background-color: black;
}

.contenedor-titulo {
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

.titulo-seccion {
    font-size: 2.5rem;
    margin-bottom: 50px;
    position: relative;
    display: inline-block;
}

.titulo-seccion::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 60px;
    height: 4px;
    background: yellow;
}

.grid-proyectos{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 30px;
}

.proyecto-card{
    background: #111;
    border: 1px solid #333;
    border-radius: 12px;
    overflow: hidden;
    transition: all 0.3s ease;
}

.proyecto-card:hover{
    transform: translateY(-10px);
    border-color: yellow;
    box-shadow: 0 10px 20px rgba(0, 255, 255, 0.1);
}

.proyecto-info{
    padding: 25px;
}

.categoria{
    color: yellow;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.proyecto-info h3{
    margin:10px 0;
    font-size: 2rem;
}

.proyecto-info p{
    color: #ccc;
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 20px;

}

.tags{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 25px;
}

.tags span{
    background: #222;
    color: yellow;
    padding: 5px 12px;
    border-radius: 20px;
    font-size: 0.85rem;
    border: 1px solid #444;
}

.links-proyecto{
    display: flex;
    gap: 15px;
}

.btn-proyecto, .btn-github{
    text-decoration: none;
    padding: 8px 18px;
    border-radius: 6px;
    font-size: 0.85rem;
    font-weight: bold;
    transition: 0.3s;
}

.btn-proyecto{
    background-color: yellow;
    color: black;
}

.btn-github{
    border: 1px solid white;
    color: white;
}

.btn-github:hover{
    background: white;
    color: black;
}


/*HABILIDADES */

.seccion-skills{
    padding: 60px 10%;
    text-align: center;
}

.skills-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    margin-top: 40px;

}

.skill-category{
    background: #111;
    padding: 25px;
    border-radius: 12px;
    border: 1px solid #333;
    transition: all 0.4s ease;
}

.skill-category h3{
    color: yellow ;
    margin-bottom: 20px;
    font-size: 1rem;
    text-transform: uppercase;
}

.skill-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.skills-item{
    background: #222;
    color: white;
    padding: 8px 15px;
    border-radius: 6px;
    font-size: 0.88rem;
    border: 1px solid #444;
    transition: 0.3s;
    display: inline-block;
    margin: 5px
}

.skills-item:hover{
    border-color: yellow;
    color: yellow;
    transform: scale(1.05);

}


/*TRAYECTORIA*/

.seccion-trayectoria {
    max-width: 1200px; /* Centra el contenido en pantallas grandes */
    margin: 80px auto;
    padding: 0 20px;
}

.trayectoria-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Crea las dos columnas */
    gap: 40px; /* Espacio entre Experiencia y Formación */
    align-items: start;
}

.contenedor-titulo-secundario {
    text-align: center;
    margin-bottom: 30px;
}

/* Reutilizamos tu estilo de título con línea amarilla */
.contenedor-titulo-secundario .titulo-seccion {
    font-size: 1.8rem;
    color: white;
    border-bottom: 2px solid yellow;
    display: inline-block;
    padding-bottom: 5px;
}

.item-trayectoria {
    background: #111; /* Color ligeramente distinto al fondo para dar profundidad */
    padding: 25px;
    border-radius: 12px;
    border: 1px solid #222;
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item-trayectoria:hover {
    transform: translateY(-5px);
    border-color: yellow;
    box-shadow: 0 5px 15px rgba(255, 255, 0, 0.1);
}

/* Responsivo: Una sola columna en móviles */
@media (max-width: 850px) {
    .trayectoria-grid {
        grid-template-columns: 1fr;
    }
}

.logo-contenedor {
    width: 60px;       /* Tamaño fijo para que no crezca */
    height: 60px;
    min-width: 60px;   /* Evita que se aplaste si el texto es largo */
    background: #222;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;  /* Corta lo que sobre del logo */
    border: 1px solid #333;
}

.logo-contenedor img {
    width: 100%;       /* Obliga a la imagen a no ser más ancha que los 60px */
    height: 100%;      /* Obliga a la imagen a no ser más alta que los 60px */
    object-fit: cover; /* Hace que la imagen rellene el cuadrado sin deformarse */
}

.tech-stack-formacion {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.1); /* Línea divisoria sutil */
}

.tech-stack-formacion img {
    width: 25px;
    height: 25px;
    filter: grayscale(100%) brightness(1.5); /* Se ven sutiles */
    transition: all 0.3s ease;
}

.item-trayectoria:hover .tech-stack-formacion img {
    filter: grayscale(0%); /* Cobran color al hacer hover en la tarjeta */
    transform: scale(1.2);
}

/* Limpieza de las listas para que no se vean apretadas */
.detalles-trayectoria ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

.detalles-trayectoria li {
    font-size: 0.85rem;
    line-height: 1.4;
    margin-bottom: 8px;
    color: var(--text-secondary);
    position: relative;
    padding-left: 20px;
}

.detalles-trayectoria li::before {
    content: "→";
    position: absolute;
    left: 0;
    color: yellow;
}
/*IMAGENES*/

.proyecto-img{
    position: relative;
    width: 100%;
    height: 220px;
    overflow: hidden;
}

.proyecto-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

    /* Capa que oscurece la imagen y muestra texto/iconos */
.capa-tecnologia{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.4 ease;
}

.icons-overlay{
    text-align: center;
}

.icons-overlay span{
    display: block;
    color: black;
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 5px;
    transform: translateY(20px);
    transition: transform 0.4 ease;
}

.proyecto-card:hover .capa-tecnologias {
    opacity: 1;
}

.proyecto-card:hover .proyecto-img img {
    transform: scale(1.1); /* Zoom a la imagen */
}

.proyecto-card:hover .iconos-overlay span {
    transform: translateY(0); /* Los nombres suben a su posición original */
}

.revelar-izq{
    opacity: 0;
    transform: translateX(-50);
    transition: all 0.8 ease-out;
}

.revelar-der{
    opacity: 0;
    transform: translateX(50);
    transition: all 0.8 ease-out;


}

.aparecer{
    opacity: 1 !important;
    transform: translateX(0) !important;
}

/*FOOTER*/

.footer-profesional{
    background-color: #0a0a0a;
    border-top: 1pxc solid #222;
    padding: 60px 20px 20px 20px;
    margin-top: 80px;
    color: white;
}

.footer-contenido{
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    text-align: center;
}

.footer-info h3 {
    color: yellow;
    font-size: 1.8rem;
    margin-bottom: 15px;

}

.footer-info p{
    color: #888;
    max-width: 300px;
    margin: 0 auto;
}

.footer-links{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.footer-link{
    color: #ccc;
    text-decoration: none;
    transition: 0.3s;
    font-size: 1rem;
}

.footer-link:hover{
    color: yellow;
}

.footer-link i{
    color: yellow;
    margin-right: 10px;
}

.footer-social{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-social a{
    font-size: 1.5rem;
    color: white;
    transition: 0.3s;
}

.footer-social a:hover{
    color: yellow;
    transform: translateY(-5px);
}

.footer-copy{
    margin-top: 50px;
    padding-top: 20px;
    border-top: 1px solid #1a1a1a;
    text-align: center;
    color: #555;
    font-size:  0.8rem;
}

.corazon{
    color: yellow;
}

/*--------BUTTON SUBIR*/

#btn-subir {
    display: none; /* Oculto por defecto */
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    border: 2px solid yellow;
    outline: none;
    background-color: black;
    color: yellow;
    cursor: pointer;
    padding: 15px;
    border-radius: 50%; /* Circular */
    font-size: 18px;
    transition: opacity 0.4s ease, visibility 0.4s ease, transform 0.3s ease, background-color 0.3s ease;
    box-shadow: 0 0 15px rgba(255, 255, 0, 0.2);
}

#btn-subir.mostrar {
    opacity: 1;
    visibility: visible;
}

#btn-subir:hover {
    background-color: yellow;
    color: black;
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(255, 255, 0, 0.5);
}

/*formulñario de contacto*/
.contenedor-contacto {
    max-width: 600px;
    margin: 0 auto;
    padding: 40px;
    background: #0a0a0a;
    border: 1px solid #222;
    border-radius: 15px;
}

.formulario-contacto {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.grupo-input input, .grupo-input textarea {
    width: 100%;
    padding: 15px;
    background: #111;
    border: 1px solid #333;
    color: white;
    border-radius: 8px;
    font-family: inherit;
}

.grupo-input input:focus, .grupo-input textarea:focus {
    border-color: yellow;
    outline: none;
    box-shadow: 0 0 10px rgba(255, 255, 0, 0.1);
}

.grupo-input textarea {
    height: 150px;
    resize: none;
}
